*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f6f8ff;
color:#333;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 60px;
background:linear-gradient(90deg,#4f46e5,#7c3aed);
color:white;
}

.logo{
font-size:22px;
font-weight:bold;
}

nav a{
margin-left:20px;
text-decoration:none;
color:white;
font-weight:500;
}

nav a:hover{
color:#ffd700;
}


/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 120px;
}

.hero-text h1{
font-size:45px;
}

.hero-text span{
color:#4f46e5;
}

.hero-text p{
margin-top:10px;
color:#666;
}

.hero-text button{
margin-top:20px;
padding:12px 28px;
background:#4f46e5;
border:none;
border-radius:8px;
color:white;
cursor:pointer;
}

.hero-img img{
width:260px;
height:260px;
border-radius:50%;
object-fit:cover;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}


/* ABOUT */

.about{
padding:80px 120px;
background:white;
}

.about-container{
max-width:900px;
margin:auto;
}

.about-text h2{
font-size:34px;
color:#4f46e5;
margin-bottom:15px;
}

.about-text p{
font-size:17px;
line-height:1.8;
margin-bottom:12px;
}


/* SKILLS */

.skills{
padding:80px 120px;
text-align:center;
}

.skills h2{
color:#4f46e5;
margin-bottom:30px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skill-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.skill-card:hover{
background:#4f46e5;
color:white;
transform:translateY(-5px);
}


/* PROJECTS */

.projects{
padding:80px 120px;
text-align:center;
background:#eef1ff;
}

.projects h2{
color:#4f46e5;
margin-bottom:30px;
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.project-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.project-card:hover{
transform:translateY(-6px);
}


/* CONTACT */

.contact{
padding:80px;
text-align:center;
background:linear-gradient(90deg,#4f46e5,#7c3aed);
color:white;
}

footer{
text-align:center;
padding:15px;
background:#111;
color:white;
}